.productCard {
  display: flex;
  flex-direction: column;
}

.productCard {
  img {
    height: 42.7rem;
    width: 100%;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  align-items: center;
  gap: 1rem;
}

.productInfo h2 {
  font-size: 1.6rem;
}

.productInfo a {
  font-size: 1.4rem;
  font-weight: bold ;
  color: var(--t-grey);
}

.productPrice {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.productInfo p {
  font-size: 1.4rem;
  font-weight: bold;
}

.productPrice p:first-child {
  color: var(--muted-color);
}

.productPrice p:nth-child(2) {
  color: var(--secondary-color-1);
}

.colorSelectorWrapper {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.colorSelectorWrapper span {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  
}

.colorSelectorWrapper span:first-child {
  background-color: var(--t-primary);
}

.colorSelectorWrapper span:nth-child(2) {
  background-color: var(--secondary-color-1);
}

.colorSelectorWrapper span:nth-child(3) {
  background-color: var(--alert-color);
}

.colorSelectorWrapper span:nth-child(4) {
  background-color: var(--dark-background-color);
}