
:root {
	--t-primary: #23a6f0;
	--t-grey: #737373;
	--black: #000;

	--secondary-color-1: #23856D;
	--muted-color: #BDBDBD;

	--alert-color: #E77C40;
	--dark-background-color: #252B42;
}

html {
	font-size: 16px;
	font-size: 62.5%;
}

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}
